<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FortressCodeContext" connectionString="data source=ft-sql-1.flintstudios.net;initial catalog=aspnet-FortressVoucherAdminTool-20150417013621;user id=fortressweb;password=bewssertrof_fntstd;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FortressCodesDomain.Properties.Settings.FortressVoucherAdmin_StagingConnectionString" connectionString="Data Source=ft-sql-1.flintstudios.net;Initial Catalog=aspnet-FortressVoucherAdminTool-20150417013621;User ID=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>